<p id="notice"><%= notice %></p>
<h1>The nearest place where it's <%= @conditions %> is:</h1>
<table>
  <thead>
    <tr>
      <th>City</th>
      <th>State</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= @destinations.city %></td>
        <td><%= @destinations.state %></td>
        <td><%= @destinations.latitude %></td>
        <td><%= @destinations.longitude %></td>
      </tr>
  </tbody>
</table>
<%= link_to "Back", root_url  %>

